body {
    background-color: #f4ede3;
    margin: 0;
    color: #333;
}
header{
    background-color: #f4ede3;
    padding: 20px;
    overflow: hidden;
    margin-bottom: 0;
}

img{
    float: left;
}

h1{
    float: left;
    font-weight: bold;
    font-size: 25px;
    font-family: montserrat;
    color: black;
    margin-top: 25px;
}

nav {
    float: right;
    margin-top: 25px;
}

nav a {
    text-decoration: none;
    color: #c8102e;
    font-weight: bold;
    margin-left: 20px;
    font-family: montserrat;
    font-size: 20px;
}

h2{
    color: #c8102e;
    padding: 22px;
    font-family: montserrat;
    margin-top: 0;
}

footer {
    background-color: #f4ede3;
    color: #c8102e;
    text-align: center;
    padding: 15px;
    font-family: montserrat;
    font-size: 14px;

}


#bienvenida {
    background-image: url('../img/bienvenida.webp');
    background-size: cover;
    background-position: center;
    color: white;
    margin-top: 0;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

#bienvenida h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-size: 50px;
}
#bienvenida p{
    margin-top: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
}


#nosotros {
    padding: 40px;
    background-color: #fff;
    overflow: hidden;
}

.contenedor-nosotros {
    width: 100%;
    overflow: hidden;
}

.texto-nosotros {
    width: 60%;
    float: left;
    font-family: montserrat;
    font-size: 16px;
    color: #333;
}

.imagen-nosotros {
    width: 35%;
    float: right;
}


.contenedor-receta {
  background-color: #fbe2a5; 
  padding: 20px;
  margin-bottom: 0;
  overflow: hidden; 
}

.cuerpo-receta {
  overflow: hidden; 
}

.texto-receta {
  float: left;
  width: 60%;
}


.imagen-receta {
  float: right;
  width: 40%;
}


.titulo-receta {
  font-size: 24px;
  font-weight: bold;
  color: white;
}


.receta1 {
  background-color: #e03a3e; 
  color: white;
}

.receta2 {
  background-color: #fbe2a5;
  tit
}

.receta3 {
  background-color: #e03a3e;
  color: white;
}

.titulo-gazpacho {
    color: black; 
}

.bloque-cocido {
  width: 100%;
  padding: 20px;
  background-color: white;
  font-family: montserrat;
}

.cocido {
  overflow: hidden;
  margin-bottom: 20px;
}

.video-cocido {
  width: 50%;
  padding: 10px;

}

.imagen-cocido {
  width: 50%;
  padding: 10px;
}

.imagen-cocido img {
  width: 100%;
}

.texto-cocido {
  text-align: center;
  font-size: 18px;
  color: black;
  margin-top: 20px;

}

.contenedor-arroz {
  width: 100%;
  overflow: hidden;
  background-color: white;
  padding: 20px;
}

.arrozconleche {
  float: left;
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 80px;  
}

.imagen-arroz {
  float: right;
  width: 50%;
  text-align: right;
}
